@media (min-width: 600px) {
    body {
        background-color: black;
    }
}

@media (max-width: 599px) {
    body {
        background-color: black;
    }
}
a:visited {
    color: blue;
}

input[type=text] {
    border: 2px solid blue;
}